<footer
  class="bg-body-secondary container-fluid text-center fw-medium py-2 border-top shadow-sm fs-6"
>
  <div class="f-info-brand mb-2">
    &copy; 2025 <span class="ms-1">LodgeLoom</span>
  </div>
  <div class="mb-2">
    <span>Developed by</span>
    <a href="https://www.linkedin.com/in/sonalisahu246/" class="underline-none fw-semibold">
      <span class="ms-0">@sonalisahu </span>
      <i class="fa-brands fa-linkedin" style="color: #0A66C2"></i>
    </a>
  </div>
  <div class="mb-2">
    Last Updated at 
    <span class="ms-1">
        <%= lastUpdated %>
    </span>
  </div>
</footer>
