<footer class="bg-dark container-fluid text-white text-center py-2 border-top shadow-sm">
<div class="f-info-socials fs-5 mb-2">
    <i class="fa-brands fa-facebook mx-1"></i>
    <i class="fa-brands fa-square-instagram mx-1"></i>
    <i class="fa-brands fa-linkedin mx-1"></i>
</div>
<div class="f-info-brand mb-2">&copy; 2025 sonalisahu. All Rights Reserved.</div>
<div class="f-info-links mb-2">
    <a href="/privacy">privacy</a>
    <a href="/terms">terms</a>
</div>
</footer>