<nav
  class="navbar navbar-expand-md navbar-light bg-white border-bottom shadow-sm sticky-top mb-4"
  style="height: 5rem"
>
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img
        src="/images/logo.png"
        alt="BookMyStay Logo"
        class="me-2"
        style="height: 60px; width: 100px"
      />
      <!-- <span class="fw-bold text-teal">BookMyStay</span> -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-sm-light bg-white" id="navbarNav">
      <ul class="navbar-nav ms-auto fw-medium">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add your listing</a>
        </li>
        <% if(!currUser){ %>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
              </li>
        <% } %>
        <% if(currUser){ %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log out</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
