<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookMyStay</title>
  </head>
  <body>
    <h1>All Listings</h1>
    <h4><a href="/listings/new">Create New Listings</a></h4>
    <ul>
      <% for(let listing of listings){ %>
      <li><a href="/listings/<%= listing._id %>" target="_blank"> <%= listing.title %></a></li>
      <% } %>
    </ul>
  </body>
</html>
