<%- layout('/layouts/boilerplate') -%>
<body>
  <div class="row">
    <!-- offset to make form center -->
    <div class="col-lg-8 offset-lg-2 col-md-6 offset-md-3 col-12 mb-4">
      <h3 class="text-center">Create New Listing</h3>
      <form method="POST" action="/listings" class="needs-validation" novalidate>
        <div class="mb-4">
          <label for="" class="form-label fw-medium">Title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Enter Title"
            class="form-control border-shadow-green"
            required
          />
          <div class="valid-feedback">Title looks good.</div>
          <div class="invalid-feedback">Please enter a title.</div>
        </div>
        <div class="mb-4">
          <label for="image" class="form-label fw-medium">Image</label>
          <input
            type="text"
            name="listing[image]"
            placeholder="Enter Image URL/Link"
            class="form-control border-shadow-green"
          />
        </div>
        <div class="mb-4">
          <label for="description" class="form-label fw-medium">Description</label>
          <textarea
            name="listing[description]"
            placeholder="Enter Description"
            class="form-control border-shadow-green resize-none"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter short description.</div>
        </div>
        
        <div class="row">
          <!-- for md or above md 4:8 ratio -->
          <div class="mb-4 col-md-4">
            <label for="price" class="form-label fw-medium">Price</label>
            <input
              type="text"
              name="listing[price]"
              placeholder="Enter Price"
              class="form-control border-shadow-green"
              required
            />
            <div class="invalid-feedback">Please enter a valid price.</div>
          </div>
          
          <div class="mb-4 col-md-8
          ">
            <label for="location" class="form-label fw-medium">Location</label>
            <input
              type="text"
              name="listing[location]"
              placeholder="Enter Location"
              class="form-control border-shadow-green"
              required
            />
            <div class="invalid-feedback">Please enter a valid location.</div>
          </div>
        </div>
        <div class="mb-4">
          <label for="country" class="form-label fw-medium">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="Enter Country"
            class="form-control border-shadow-green"
            required
          />
          <div class="invalid-feedback">Please enter a valid country name.</div>
        </div>
        <button
          type="submit"
          class="btn btn-dark green-btn" 
        >
          Add
        </button>
      </form>
    </div>
  </div>
</body>

