
body{
  font-family: "Plus Jakarta Sans", serif !important;
  /* font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* to make navbar stick at the bottom */
}

.green-btn{
  height: 2.35rem;
  background-color: #1c9493 !important; 
  border: none !important;
}

.green-btn:hover{
 background-color: #177b79 !important;
}

.container{
  flex: 1;
}
.navbar{
  height: 5rem;
}

.navbar-logo{
  width: 50px;
}


.underline-none{
  text-decoration: none;
  color: black;
}
.underline-none:hover{
  text-decoration: underline;
}

/* for card */
.f-card{
  opacity: 1;
}

.f-card:hover{
  opacity: 0.7;
}

/* for logo */
.card-img-overlay{
  /* transform: rotate(-15deg);  */
  opacity: 0;
}

.card-img-overlay:hover{
 opacity: 0.7;
}

/* to target input field border focus */
.border-shadow-green:focus {
  border-color: rgb(28, 148, 147) !important;    /* greensish border */
  box-shadow: 0 0 0 0.25rem rgb(28, 148, 147, 0.35) !important; /* greenish focus shadow */
}

.border-shadow-black:focus{
  border-color: rgb(8, 12, 12) !important;    
  box-shadow: 0 0 0 0.25rem rgba(26, 27, 27, 0.35) !important; 
}
.border-none{
  border: none !important;
}

.img-h-20r{
  height: 20rem;
}

.resize-none{
  resize: none !important;
}

.border-green {
  border-color: rgb(28, 148, 147) !important;
}

.border-green:hover{
  background-color: rgb(28, 148, 147) !important;
}