<%- layout('/layouts/boilerplate') -%>
<body>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12 my-4 shadow-lg p-3 bg-body-tertiary rounded">
                <h1 class="text-center mb-5 fw-bold">LogIn</h1>
            <form action="/login" method="post" novalidate class="needs-validation">
                <div class="mb-4">
                    <label class="form-label fw-medium" for="username">Username</label>
                    <input class="form-control border-shadow-black" type="text" name="username" id="username" required>
                    <div class="invalid-feedback">Please provide your username.</div>
                </div>
                <div class="mb-4">
                    <label class="form-label fw-medium" for="password">Password</label>
                    <input class="form-control border-shadow-black" type="password" name="password" id="password" required>
                    <div class="invalid-feedback">Please provide your password.</div>
                </div>
                <button type="submit" class="btn btn-dark col-12">Log In</button>
                
            </form>
            <hr>
            <h5 class="text-center"><a href="/signup" >Create Account</a></h5>
        </div>
    </div>
</body>