<%- layout('/layouts/boilerplate') -%>
<body>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12 my-4 shadow-lg p-3 bg-body-tertiary rounded">
            <h3 class="text-center mb-5">SignUp on BookMyStay</h3>
            <form action="/signup" method="post" novalidate class="needs-validation">
                <div class="mb-4">
                    <label class="form-label fw-medium" for="username">Username</label>
                    <input class="form-control border-shadow-black" type="text" name="username" id="username" required>
                    <div class="valid-feedback">Looks good.</div>
                    <div class="invalid-feedback">Please provide username.</div>
                </div>
                <div class="mb-4">
                    <label class="form-label fw-medium" for="email">Email</label>
                    <input class="form-control border-shadow-black" type="text" name="email" id="email" required>
                    <div class="invalid-feedback">Please provide email.</div>
                </div>
                <div class="mb-4">
                    <label class="form-label fw-medium" for="password">Password</label>
                    <input class="form-control border-shadow-black" type="password" name="password" id="password" required>
                    <div class="invalid-feedback">Please provide strong password.</div>
                </div>
                <button type="submit" class="btn btn-dark col-12">Sign Up</button>
            </form>
        </div>
    </div>
</body>